{% extends 'diagnostic_center/base.html' %}
{% block content %}
<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Телефоны для связи
            </h2>
            <br>
            <p class="lead">+7 (427) 000 1099</p>
            <p class="lead">+7 (985) 888 1055</p>
            <h2 class="featurette-heading fw-normal lh-1">Адрес
            </h2>
            <br>
            <p class="lead">РТ, 253927, г. Тольятти, проспект Громова, 11 (2/07)</p>
        </div>
    </div>

</div>
{% endblock %}