{% extends 'diagnostic_center/base.html' %}
{% load static %}
{% block content %}

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'base_photo/assay.png' %}" class="img-fluid" alt="...">
            <div class="container">
                <div class="carousel-caption text-start text-bg-black">
                    <h1>АНАЛИЗЫ</h1>
                    <p class="opacity-75 ">Быстрое получение результатов анализов крови, мочи, кала и других, с
                        расшифровкой.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'base_photo/yzi.png' %}" class="img-fluid" alt="...">
            <div class="container">
                <div class="carousel-caption">
                    <h1>УЗИ</h1>
                    <p>Хорошее УЗИ на современном оборудовании - залог точной постановки диагноза.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'base_photo/ecg.png' %}" class="img-fluid" alt="...">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>ЭКГ</h1>
                    <p>Позволяет проверить работу вашего сердца.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container marketing">

    <div class="row">
        <div class="text-center">
            <h1 class="fw-normal">Центр медицинской диагностики "Для всей семьи"</h1>
            <br>
            <h3 class="fw-normal">Наша задача – сделать качественную медицину доступной.
                Основной акцент мы делаем на непрерывном профессиональном образовании медицинских специалистов и
                современном диагностическом оборудовании.</h3>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-lg-4 text-start">
            <h1 class="fw-normal"><a>Наши врачи</a></h1>
        </div>
        <div class="col-lg-4 text-end">
        </div>
        <div class="col-lg-4 text-end">
            <h3 class="fw-normal"><a href="{% url 'diagnostic_center:doctor_list' %}">Все специалисты</a></h3>
        </div>
    </div>
    <hr>
    <br>

    <hr class="featurette-divider">

</div>
{% endblock %}