{% extends 'diagnostic_center/base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<div class="container marketing">
    <div class="row">
        <hr class="featurette-divider">
        <div class="col-lg-4">
            <img src="..." class="img-thumbnail" alt="...">
            <h2 class="fw-normal">АНАЛИЗЫ</h2>
            <p>Быстрое получение результатов анализов крови, мочи, кала и других, с
                расшифровкой.
            </p>
            <p><a class="btn btn-secondary" href="#">Подробнее</a></p>
        </div>
        <div class="col-lg-4">
            <img src="..." class="img-thumbnail" alt="...">
            <h2 class="fw-normal">УЗИ</h2>
            <p>Хорошее УЗИ на современном оборудовании - залог точной постановки диагноза.
            </p>
            <p><a class="btn btn-secondary" href="#">Подробнее</a></p>
        </div>
        <div class="col-lg-4">
            <img src="..." class="img-thumbnail" alt="...">
            <h2 class="fw-normal">ЭКГ</h2>
            <p>Позволяет проверить работу вашего сердца.
            </p>
            <p><a class="btn btn-secondary" href="#">Подробнее</a></p>
        </div>
    </div>
</div>
{% endblock %}